# PostgreSQL connection string
DATABASE_URL="postgresql://user:password@localhost:5432/spot?schema=public"

# Auth.js
AUTH_SECRET="" # Generate with: openssl rand -base64 32
AUTH_URL="http://localhost:3000"
